<?xml version="1.0" encoding="UTF-8" ?>

<configuration xmlns="http://ch.qos.logback/xml/ns/logback"
               debug="false">

  <variable name="EIGION_LOG_DIRECTORY"
            value="${eigion.requestLogDirectory:-.}"/>

  <appender name="STDERR"
            class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="com.io7m.eigion.server.vanilla.logging.EILoggingPatternLayout"/>
    </encoder>
    <target>System.err</target>
  </appender>

  <appender name="PUBLIC_REQUEST_LOG"
            class="ch.qos.logback.core.rolling.RollingFileAppender">
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="com.io7m.eigion.server.vanilla.logging.EILoggingHTTPRequestLayout"/>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${EIGION_LOG_DIRECTORY}/public_%d.log</fileNamePattern>
    </rollingPolicy>
  </appender>

  <appender name="ADMIN_REQUEST_LOG"
            class="ch.qos.logback.core.rolling.RollingFileAppender">
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="com.io7m.eigion.server.vanilla.logging.EILoggingHTTPRequestLayout"/>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${EIGION_LOG_DIRECTORY}/admin_%d.log</fileNamePattern>
    </rollingPolicy>
  </appender>

  <logger name="com.io7m.eigion.server.requestLog.public"
          level="TRACE"
          additivity="false">
    <appender-ref ref="PUBLIC_REQUEST_LOG"/>
  </logger>

  <logger name="com.io7m.eigion.server.requestLog.admin"
          level="TRACE"
          additivity="false">
    <appender-ref ref="ADMIN_REQUEST_LOG"/>
  </logger>

  <logger name="org.eclipse.jetty.server.Server"
          level="ERROR"/>
  <logger name="org.eclipse.jetty.server.handler.ContextHandler"
          level="ERROR"/>
  <logger name="org.eclipse.jetty.util.ssl.SslContextFactory"
          level="ERROR"/>
  <logger name="org.eclipse.jetty.server.AbstractConnector"
          level="ERROR"/>
  <logger name="org.eclipse.jetty" level="INFO"/>

  <logger name="com.github.dockerjava"
          level="ERROR"/>
  <logger name="org.testcontainers"
          level="ERROR"/>
  <logger name="com.zaxxer.hikari"
          level="INFO"/>
  <logger name="com.io7m.blackthorne"
          level="INFO"/>

  <root level="TRACE">
    <appender-ref ref="STDERR"/>
  </root>

</configuration>
